services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $enableSoftDelete: '%audit_trail.enable_soft_delete%'
      $enableHardDelete: '%audit_trail.enable_hard_delete%'
      $softDeleteField: '%audit_trail.soft_delete_field%'
      $enabled: '%audit_trail.enabled%'
      $deferTransportUntilCommit: '%audit_trail.defer_transport_until_commit%'
      $failOnTransportError: '%audit_trail.fail_on_transport_error%'
      $fallbackToDatabase: '%audit_trail.fallback_to_database%'
      $tablePrefix: '%audit_trail.table_prefix%'
      $tableSuffix: '%audit_trail.table_suffix%'
      $timezone: '%audit_trail.timezone%'

  Rcsofttech\AuditTrailBundle\:
    resource: '../../*'
    exclude:
      - '../../DependencyInjection/'

