services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $enableSoftDelete: '%audit_trail.enable_soft_delete%'
      $enableHardDelete: '%audit_trail.enable_hard_delete%'
      $softDeleteField: '%audit_trail.soft_delete_field%'
      $enabled: '%audit_trail.enabled%'
      $deferTransportUntilCommit: '%audit_trail.defer_transport_until_commit%'
      $failOnTransportError: '%audit_trail.fail_on_transport_error%'
      $fallbackToDatabase: '%audit_trail.fallback_to_database%'
      $tablePrefix: '%audit_trail.table_prefix%'
      $tableSuffix: '%audit_trail.table_suffix%'
      $timezone: '%audit_trail.timezone%'
      $ignoredEntities: '%audit_trail.ignored_entities%'
      $ignoredProperties: '%audit_trail.ignored_properties%'
      $cache: '@?rcsofttech_audit_trail.cache'

  Rcsofttech\AuditTrailBundle\Service\AuditIntegrityService:
    bind:
      $enabled: '%audit_trail.integrity.enabled%'
      $secret: '%audit_trail.integrity.secret%'
      $algorithm: '%audit_trail.integrity.algorithm%'

  Rcsofttech\AuditTrailBundle\Contract\AuditIntegrityServiceInterface:
    alias: Rcsofttech\AuditTrailBundle\Service\AuditIntegrityService

  Rcsofttech\AuditTrailBundle\:
    resource: '../../*'
    exclude:
      - '../../DependencyInjection/'
      - '../../Service/AuditIntegrityService.php'

