services:
  _defaults:
    autowire: true
    autoconfigure: true

  Rcsofttech\AuditTrailBundle\:
    resource: '../../*'
    exclude:
      - '../../DependencyInjection/'
      - '../../Entity/'
      - '../../Resources/'
      - '../../Transport/'
